<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="gow.fcm.footballcoachmanager"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="15"
        android:targetSdkVersion="16" />

    <uses-permission android:name="android.permission.CAMERA" />

    <uses-feature android:name="android.hardware.CAMERA" />

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/logo"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name="gow.fcm.pantallas.PaginaPrincipal"
            android:label="@string/app_name"
            android:screenOrientation="landscape" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="gow.fcm.pantallas.PaginaCalendario"
            android:label="@string/title_page_calendar"
            android:screenOrientation="landscape" />
        <activity
            android:name="gow.fcm.popups.PopupPizarraDigital"
            android:label="@string/title_popup_blackboard"
            android:screenOrientation="landscape"
            android:theme="@style/PopupTheme" />
        <activity
            android:name="gow.fcm.pantallas.Config_entre"
            android:label="@string/title_activity_config_entre"
            android:screenOrientation="landscape" >
        </activity>
        <activity
            android:name="gow.fcm.popups.PopUpNuevoJugador"
            android:label="@string/title_activity_pop_up_nuevo_jugador"
            android:screenOrientation="landscape"
            android:theme="@style/PopupTheme" >
        </activity>
        <activity
            android:name="gow.fcm.popups.PopUpNuevoEntrenamiento"
            android:label="@string/title_activity_pop_up_nuevo_entrenamiento"
            android:screenOrientation="landscape"
            android:theme="@style/PopupTheme" >
        </activity>
        <activity
            android:name="gow.fcm.popups.PopUpNuevoPartido"
            android:label="@string/title_activity_pop_up_nuevo_partido"
            android:screenOrientation="landscape"
            android:theme="@style/PopupTheme" >
        </activity>
        <activity
            android:name="gow.fcm.popups.PopUp_config_entre"
            android:label="@string/title_activity_pop_up_config_entre"
            android:screenOrientation="landscape"
            android:theme="@style/PopupTheme" >
        </activity>
        <activity
            android:name="gow.fcm.pantallas.EstadisticasJugador"
            android:label="@string/title_activity_estadisticas_jugador"
            android:screenOrientation="landscape" >
        </activity>
        <activity
            android:name="gow.fcm.pantallas.PantallaListaJugadores"
            android:screenOrientation="landscape" >
        </activity>
        <activity
            android:name="gow.fcm.pantallas.PantallaAcercaDe"
            android:screenOrientation="landscape" >
        </activity>
        <activity android:name="gow.fcm.pantallas.PlayingGround" >
        </activity>
        <activity android:name="gow.fcm.popups.PopUpPlayersSelector" >
        </activity>
        <activity
            android:name="gow.fcm.pantallas.PerfilEntrenador"
            android:label="@string/title_activity_perfil_entrenador" >
        </activity>
    </application>

</manifest>